/.idea/*
/assets/*
/protected/runtime/*
/external/*
/external/company_img/invalid/*
/js/tiny_mce/plugins/ajaxfilemanager/session/gc_counter.ajax.php
/js/tiny_mce/plugins/ajaxfilemanager/session/gc_log.ajax.php
/external/media/*
/protected/config/db.php
/widgetlist.xml
/Widget/*
/builder.sh
/.htaccess
/emulator/
/*.project
/.settings/
/*.buildpath
/nbproject/private/
/.realsync
/nbproject/
/protected/solr/cores/film/data*
/protected/solr/cores/coupon/data*
uploaded/channels